In [9]:
#1

import pandas as pd

dataFrame = pd.read_csv("C:\\Users\\DWIGHT JIRO\\Downloads\\amazon.csv", encoding='latin1')

print("Top 10 rows...\n", dataFrame.head(10))

Top 10 rows...
    year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01
5  2003  Acre  Janeiro    10.0  2003-01-01
6  2004  Acre  Janeiro     0.0  2004-01-01
7  2005  Acre  Janeiro    12.0  2005-01-01
8  2006  Acre  Janeiro     4.0  2006-01-01
9  2007  Acre  Janeiro     0.0  2007-01-01

In [10]:
#2

print("Last 10 rows...\n", dataFrame.tail(10))

Last 10 rows...
       year      state     month  number        date
6444  2007  Tocantins  Dezembro    13.0  2007-01-01
6445  2008  Tocantins  Dezembro     7.0  2008-01-01
6446  2009  Tocantins  Dezembro    46.0  2009-01-01
6447  2010  Tocantins  Dezembro    72.0  2010-01-01
6448  2011  Tocantins  Dezembro   105.0  2011-01-01
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

In [15]:
#3

rows = len(dataFrame.axes[0])
columns = len(dataFrame.axes[1])

print("Rows:",rows)
print("Columns:",columns)

Rows: 6454
Columns: 5

In [23]:
#4

data_types= dataFrame.dtypes

print("Data types: \n", data_types)
print("\nRows:",rows)
print("\nColumns:",columns)
memory = dataFrame.info(memory_usage="deep")
print("\nmemory requirement:",memory)

Data types:
 year        int64
state      object
month      object
number    float64
date       object
dtype: object

Rows: 6454

Columns: 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.3 MB

memory requirement: None

In [27]:
#5

find=dataFrame.duplicated()
print("Finding duplicated...\n",find)

findTotal= dataFrame.duplicated().sum()
print("\nSum of total duplicated:",findTotal)

drop= dataFrame.drop_duplicates()
print("\nHere are the duplicated data: ", drop)

Finding duplicated...
 0       False
1       False
2       False
3       False
4       False
        ...
6449    False
6450    False
6451    False
6452    False
6453    False
Length: 6454, dtype: bool

Sum of total duplicated: 32

Here are the duplicated data:        year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6422 rows x 5 columns]

In [31]:
#6

finding_null = dataFrame.isnull()
print("Null components:\n",finding_null)

null_sum= dataFrame.isnull().sum()
print("\n sum of null:",null_sum)

Null components:
        year  state  month  number   date
0     False  False  False   False  False
1     False  False  False   False  False
2     False  False  False   False  False
3     False  False  False   False  False
4     False  False  False   False  False
...     ...    ...    ...     ...    ...
6449  False  False  False   False  False
6450  False  False  False   False  False
6451  False  False  False   False  False
6452  False  False  False   False  False
6453  False  False  False   False  False

[6454 rows x 5 columns]

 sum of null: year      0
state     0
month     0
number    0
date      0
dtype: int64

In [33]:
#7
dataFrame.describe()

              year       number
count  6454.000000  6454.000000
mean   2007.461729   108.293163
std       5.746654   190.812242
min    1998.000000     0.000000
25%    2002.000000     3.000000
50%    2007.000000    24.000000
75%    2012.000000   113.000000
max    2017.000000   998.000000

In [41]:
#8
# goal is to determine what kind of language is being use to create a list
dataFrame.loc[:,"month"]

0        January
1        January
2        January
3        January
4        January
          ...
6449    December
6450    December
6451    December
6452    December
6453    December
Name: month, Length: 6454, dtype: object

In [42]:


#8

month_names = {
    'Janeiro': 'January',
    'Fevereiro': 'February',
    'Março': 'March',
    'Abril': 'April',
    'Maio': 'May',
    'Junho': 'June',
    'Julho': 'July',
    'Agosto': 'August',
    'Setembro': 'September',
    'Outubro': 'October',
    'Novembro': 'November',
    'Dezembro': 'December'
}

dataFrame['month'] = dataFrame['month'].replace(month_names)

print(dataFrame)

      year      state     month  number        date
0     1998       Acre   January     0.0  1998-01-01
1     1999       Acre   January     0.0  1999-01-01
2     2000       Acre   January     0.0  2000-01-01
3     2001       Acre   January     0.0  2001-01-01
4     2002       Acre   January     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  December   128.0  2012-01-01
6450  2013  Tocantins  December    85.0  2013-01-01
6451  2014  Tocantins  December   223.0  2014-01-01
6452  2015  Tocantins  December   373.0  2015-01-01
6453  2016  Tocantins  December   119.0  2016-01-01

[6454 rows x 5 columns]

In [43]:
#9

total_fires_registered = dataFrame['number'].sum()

print("Total number of fires registered:", total_fires_registered)

Total number of fires registered: 698924.073